<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      Powered by <a href="//hexo.io/" target="_blank">Hexo</a>
      .
      Theme by <a href="https://github.com/xiangming/landscape-plus" target="_blank">Landscape-plus</a><br>

      Copyright © <%= date(new Date(), 'YYYY') %> All rights reserved. | <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">皖ICP备17025334号-1</a>  
    </div>
  </div>
</footer>