#toc {
    align-self: flex-start;
    position: -webkit-sticky
    position: sticky
    top: .75rem
}


.widget {
    background-color: #FFFFFFCF;
}

.article
    .content
        a
            img
                margin: auto
                display: block